<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import HelloWorld from './components/HelloWorld.vue'
import Game from './components/Game.vue'
</script>

<template>
  <game/>
  <HelloWorld msg="Hello Vue 3 + TypeScript + Vite" />
</template>

<style>
#game{
  z-index: -1;
}
</style>
