<template>
  <a-layout style="min-height: 100vh">
    <a-layout-sider v-model:collapsed="collapsed" collapsible>
    </a-layout-sider>
  </a-layout>
</template>

<script>
export default {

}
</script>

<style>

</style>